* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

/*home轮播*/
.van-swipe .van-swipe__indicators .van-swipe__indicator {
    width: 0.4rem;
    height: 0.06rem;
    background: #a89e9e;
    opacity: 1;
    border-radius: 0.03rem;
}

.van-swipe .van-swipe__indicators .van-swipe__indicator--active{
    background-color: rgba(0, 0, 0, 0.7);
}

.van-tabs .van-tab--active{
    border-color: #000000;
}

.van-collapse .van-collapse-item .van-cell{
    padding: .25rem 0;
    background-color: #444;
    color: white;
}

.van-collapse .van-collapse-item .van-collapse-item__wrapper .van-collapse-item__content{
    padding-left: 0;
    background-color: #444;
}

.van-collapse .van-collapse-item  .van-cell:not(:last-child)::after {
    position: absolute;
    box-sizing: border-box;
    content: ' ';
    pointer-events: none;
    right: 0;
    bottom: 0;
    left: 16px;
    border: 0;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
}
.brand .van-index-bar__sidebar span{
    height: 20px;
    line-height: .36rem;
}
.brand .van-index-bar__sidebar .van-index-bar__index--active{
    font-weight: 700;
}
/*background-color: rgba (0, 0, 0, 0.7);*/
.van-nav-bar .van-nav-bar__left .van-icon{
    color: #787878;
    font-size: 0.36rem;
}

.van-popup{

}
.van-popup .van-share-sheet__options{
    padding: 1rem .2rem;
}

.van-popup .van-share-sheet__options::-webkit-scrollbar {
    display: none;
}
.van-nav-bar .van-nav-bar__right .van-nav-bar__text{
    color: #787878;
}

.van-card{
    background-color: #FFFFFF;
    border: 1px solid #dbdbdb;
    border-left: 0;
    border-right: 0;
}
.van-card .van-card__price{
    color: #ff0036;
}